version: '2'
services:
  api:
    build: .
    command: npm start
    volumes:
      - .:/usr/src/app
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
      - HTTP_PORT=3000
      - SQUARE_SERVICE_URL=#
      - TRIANGLE_SERVICE_URL=#
